*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: white;
    background-color: #252525;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    background-color: #0e0e0e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2308e6f8' fill-opacity='0.05' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

/* NAVEGATION */
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width: 50px;
}

/* NAV LEFT */
.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 40px;
}

.nav-main ul li a:hover{
    padding: 2px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #ffffff;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

hr{
    color:white;
}

/* MAIN SECTION */

hr{
    margin: 15px 0;
}
.showcase{
    width: 100%;
    height: 550px;
    background: url('./img/news-3.jpg') no-repeat center center/cover;
    padding-bottom: 7px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0px;
}

.btn:hover{
    opacity: .8;
}

.showcase h2,
.showcase p{
    margin-bottom: 10px;
}

/* NEWS CARDS */
.news-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}

.news-cards img{
    width: 100%;
    height: 180px;
}

.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a{
    padding: 10px 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: underline;
    padding: 2px;
}
